.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 10px;
    clear: both;

}
#chartdiv {
    width	: 90%;
    height	: 500px;
}


.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}